.card-image  {
    border: 10px solid #4CB2E6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    gap: 4px;
}

.image {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
  
}

.description {
    max-width: 200px;;
}

h3 {
    color: azure
}

p {
    margin: 10px;
    font-size: 18px;
}